<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <div class="single-hero-area hero-bg-1 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Innovons l' Education  <br>
                            avec notre nouvelle expérience de </p>
                        <h1 class="hero-heading">
                            connexion libre et gratuite
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">Éducatif</a></li>
                                <li><a href="#">Personnalisé</a></li>
                                <li><a href="#">Sécurisé</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn hero-btn"> Apprendre plus <i class="fa fa-arrow-right"></i></a>
                        <a href="#" class="video-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div> 
</section>
<!--======  HERO PART END ======-->
